* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  outline: none;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --main-color: peru;
  --text-color: #310a0d;
  --text-color-secundary: #5d3e2a;
  --text-color-third: #fbdfb0;
  --bg-color: #f6efda;
  --bg-color-secundary: #e0ccab;
  --bg-color-third: #b08e63;
  --bg-image: url("../assets/img/bg-1.png");
  --filter-drop-shadow: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));

  --font-size-sm: clamp(0.8rem, 0.05vw + 0.79rem, 0.89rem);
--font-size-base: clamp(1rem, 0.11vw + 0.98rem, 1.19rem);
--font-size-md: clamp(1.25rem, 0.2vw + 1.21rem, 1.58rem);
--font-size-lg: clamp(1.56rem, 0.32vw + 1.5rem, 2.11rem);
--font-size-xl: clamp(1.95rem, 0.51vw + 1.86rem, 2.81rem);
--font-size-xxl: clamp(2.44rem, 0.78vw + 2.3rem, 3.75rem);
--font-size-xxxl: clamp(3.05rem, 1.15vw + 2.84rem, 5rem);
}

@media (prefers-theme-color: dark) {
  :root {
    --bg-image: url("../assets/img/bg-dark.png");
  }
}

html.dark {
  --main-color: rgb(246, 239, 218);
  --bg-color: #5d3e2a;

  --bg-image: url("../assets/img/bg-4.png");
  --text-color: peru;
  --text-color-secundary: #b08e63;
  --filter-drop-shadow: drop-shadow(0 2px 5px rgba(254, 209, 165, 0.717));
}

html {
  font-size: 82.5%;
  overflow-x: hidden;
  /* width: 100%;
  height: 100%; */
  background: var(--bg-image) repeat;
}
body {
  color: var(--text-color-secundary);
}

section {
  height: 101vh;
  height: 101dvh;
  padding: 0rem 9% 2rem;
  /* padding: 0 minmax(0%,5%); */
  /* width: minmax(350px, 80%); */
}

@media (max-width: 500px) {
  section {
    padding: 0rem 9% 2rem;
  }
}

a:link,
a:visited {
  color: var(--main-color);
}
article h4 {
  text-align: center;
}
/* a:hover {
    outline: 10px dotted green;
  } */
select {
  height: 40px;
  line-height: 50px;
  font-size: 1.5rem;
  padding: 0.3rem;
  background: transparent;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.col-start {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.col-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.row-start {
  /* align-items: flex-start; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}
.row-wrap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
.row-center {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.row-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}
.row-evenly {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1rem;
}

.header #btn-menu {
  display: none;
}

.logo {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--text-color);
}
.version {
  font-size: var(--font-size-sm);
  font-weight: 600;
  align-items: center;
  position: relative;
  /* color: var(--main-color); */
}

.header {
  /* Quitar si necesitas que sea transparente */
  background: var(--bg-image);

  /* border-bottom: solid 1px red; */
  display: flex;
  align-items: center;
  /* filter: var(--filter-drop-shadow); */
  justify-content: space-between;
  left: 0;
  padding: 2rem 9%;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: 0.1s;
}
.box-shadow {
  filter: var(--filter-drop-shadow);
  padding: 0.5rem 9%;
  position: fixed;
  /* transition: .2s; */
}
/* @media screen and (min-width:800px) {
  .header .bx-menu{
    display: none;
  }
} */

/* @media  (min-width: 901px) {
  .navbar {
    border-radius: .4rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 2rem;
    top: 7.5rem;
    padding: 5rem;
    background-image: var(--bg-image);
    visibility: visible;
  }
} */

@media (max-width: 1023px) {
  .navbar {
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 2rem;
    top: 7.5rem;
    padding: 5rem;
    background-image: var(--bg-image);
    /* visibility: hidden; */
  }

  .header #btn-menu {
    display: block;
  }
}
.navbar {
  display: auto;
  /* position: relative; */
  /* visibility: visible; */
}
.navbar a {
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--text-color);
  margin-left: 3.5rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.btn-nav {
  cursor: pointer;
}
@media (max-width: 350px) {
  .logo-conainer {
    display: none;
  }
}
/* @media (max-width: 350px) {
  .flag-buttons,
  .theme-buttons {
    flex-direction: column;
  }
  .theme-buttons {
    width: 20px;
    height: 10px;
  }
} */
.moral-values,
.stage {
  border: solid 1px var(--text-color);
  border-radius: 15px;
  padding: 0 .5rem;
  background-color: var(--text-color);
  color: var(--bg-color);
}

.flag-buttons {
  /* display: flex; */
  /* align-items: center; */
  gap: 1rem;
  /* justify-content: center; */
  width: 30px;
  height: auto;
  /* border: 1px solid blue; */
  /* filter: grayscale(.5); */
}
.flag-buttons img {
  /* width: 45px; */
  /* height: 15px;  */
  /* border: 1px solid var(--main-color); */
  filter: grayscale(70%);
}
.flag-buttons img:hover {
  /* width: 45px; */
  /* height: 15px;  */
  /* border: 1px solid var(--main-color); */
  filter: grayscale(0%);
}
.flag-buttons img.active {
  /* border: 1px solid var(--text-color-secundary); */
  /* transform: scale(1.5); */
  cursor: default;
  filter: grayscale(0%);
}
.theme-buttons {
  display: flex;
  /* align-items: center; */
  color: var(--text-color);
  gap: 1rem;
  width: 30px;
  height: 15px;
  /* justify-content: center; */
  /* border: 1px solid blue; */
}
.container-buttons {
  /* align-items: center;
  justify-content: center; */
  gap: 5rem;
}

.theme-buttons .tm-btn-active,
.theme-buttons i:hover {
  color: var(--main-color);
}

.header-title {
  /* background: url('../assets/img/header-img.png') no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 5rem;
  width: 100vw; */
  /* background-color: #310a0d;
  background-blend-mode: color-dodge; */
}

.head-line {
  width: 80vw;
  border: solid 2px var(--bg-color-secundary);
  margin: 2rem 0;
}

.head {
  /* font-size: 5rem; */
  font-size: var(--font-size-xxxl);
  text-align: center;
}
.head span {
  color: var(--main-color);
  /* filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); */
}
/* .head::before {
  content: '';
  background: url('../assets/img/paint-gold.png') no-repeat;
  background-size: cover;
  position: absolute;
  height: 11%;
  width: 40%;
  z-index: -1;
} */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  /* background: var(--bg-color-secundary);
  background-image: url('bg-2.png'); */
  padding-bottom: 6rem;
}
.about-img {
  position: relative;
  width: clamp(15rem,20rem + 5vw 30rem);
  height: clamp(15rem,20rem + 5vw 30rem);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.about-img img {
  display: block;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: solid 0.2rem var(--main-color);
}
.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
}
@media (min-width: 900px) {
  .about-main-content {
    /* grid-template-columns: repeat(1, minmax(200px, auto)); */
    grid-template-columns: 1fr;
  }
  .about-img {
    /* grid-column: span 2; */
  }
}
.about-main-content {
  display: grid;

  gap: 1.5rem;
  /* justify-self: center; */
  place-items: center;
  padding-block: 2rem;
  margin-inline: auto;
}
.grid-col-span-2 {
  grid-column: span 2;
}

.about-content {
  /* text-align: center; */
  /* width: fit-content; */
  width: min(95%, 100ch);
}

.about-content h3 {
  /* font-size: 2.5rem; */
  text-align: center;
  font-size: var(--font-size-lg);
}
.about-content p {
  /* text-align: justify; */
  /* font-size: 1.5rem; */
  font-size: var(--font-size-md);
  line-height: 1.5;
  margin: 2rem 0 3rem;
  /* width: min(100%,60ch); */
}
.btn-box.btns {
  display: inline-block;
  width: 15rem;
}
.btn-box.btns a::before {
  background: var(--bg-color);
}


.footer {
  color: var(--main-color);
  font-size: var(--font-size-base);
  position: relative;
  gap: 5rem;
  padding-bottom: 2rem;
  height: 35rem;
  width: 100%;
  background-image: url("../assets/img/bg-1.png");

  background-repeat: repeat;
  background-position: center;
}
html.dark .footer {
  color: var(--main-color);
  font-size: var(--font-size-base);
  position: relative;
  gap: 5rem;
  padding-bottom: 2rem;
  height: 35rem;
  width: 100%;
  background-image: url("../assets/img/bg-4.png");
  background-repeat: repeat;
  background-position: center;
}

.footer::before {
  content: "";
  background: url("../assets/img/footer.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* display: inline; */
  position: absolute;
  mix-blend-mode: multiply;
  /* opacity: .5; */
  /* z-index: 3; */
  /* border: solid 11px red;; */
  top: 0;
  left: 0;
  margin: 0;
  object-fit: cover;
  padding: 0;
  height: 35rem;
  width: 100%;
}
html.dark .footer::before {
  content: "";
  background: url("../assets/img/footer-new.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: invert(50%); */
  mix-blend-mode: soft-light;
  height: 35rem;
}
.footer-rigth {
  z-index: 1;
}

.footer-content {
  color: var(--text-color);
  /* background: grey; */
  /* color: peru; */
  /* border: solid 1px red;; */
  gap: 5rem;
  align-content: end;
  /* mix-blend-mode: overlay; */
  padding: 2rem;
  /* opacity: .5; */
}

.footer-social {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  bottom: 4rem;
  width: 170px;
}
.footer-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 40px;
  background: transparent;
  border: solid 0.2rem var(--text-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.footer-social a:hover {
  color: var(--bg-color);
}
.footer-social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--text-color);
  z-index: -1;
  transition: 0.5s;
}
.footer-social a:hover::before {
  width: 100%;
}
.footer-resources {
  color: var(--text-color);
  font-size: var(--font-size-base);
  z-index: 1;
}
.footer-resources ul {
  list-style: none;
}
.footer-resources h5 {
  font-size: var(--font-size-md);
  color: var(--text-color);
}
.footer-content a,
.footer-resources a {
  color: var(--text-color);
}
.footer-rigth a:hover,
.footer-resources a:hover,
.navbar-footer a.active,
.navbar-footer a:hover {
  color: var(--main-color);
}
.elevate {
  z-index: 1;
}

/* div { margin:10px; width:200px; height:200px; background-color: #67686b; } .pattern1{ background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px); } .pattern2 { background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px); background-size: 4px 4px; } */

/* Fuente: https://www.iteramos.com/pregunta/75836/css-creacion-de-fondos-con-textura */
/* ================================== */
/* #btn {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    font-family: "Segoe UI";
    font-size: 20px;
    padding: 8px 20px;
    color: black;
    background-color: transparent;
    border: 1px solid black
  }
  
  #progress-bar-container {
    width: 800px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 35px;
    overflow: hidden;
  }
  
  .progress-bar-child {
    width: 100%;
    height: 100%;
  }
  
  .progress {
    color: white;
    text-align: center;
    line-height: 75px;
    font-size: 35px;
    font-family: "Segoe UI";
    animation-direction: reverse;
    background: #e5405e;
  
    // Chrome10-25,Safari5.1-6 
    background: linear-gradient(to right, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%);
  }
  
  .shrinker {
    background-color: rgb(184, 179, 179);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
  
  .timelapse {
    animation-name: timelapse;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.86, .05, .4, .96);
  }
  
  @keyframes timelapse {
    0% {
      width: 100%;
    }
    100% {
      width: 15%;
    }
  } */

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background: var(--bg-color-secundary);
}
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
@supports (scrollnars: var(--bg-color-secundary) var(--main-color)) {
  * {
    scrollbar-color: var(--bg-color-secundary) var(--main-color);
    scrollbar-width: auto;
  }
}
